*{
    margin: 0;
    padding: 0;
}
:root{
    --primaryColor:#B1EDFA;
    --secondaryColor:#FAD3B2;
    --secondaryHoverColor:#FFE5CF;
    --hoverColor:#B1EDFA;

    --placeColor:#589EAD
    
}
html{
    font-size: 62.5%;
    text-align: center;
}
body{
background-color: var(--primaryColor);
color: white;


}
h1{
    font-size: 4rem;
}
h2{
font-size: 3rem;
}
h3{
    padding-top: .5rem;
    font-size: 2.4rem;
}

#title{
    text-transform: capitalize;
}
.center{
    margin: 0 auto;
}
.game-wrapper{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.player-select{
    clear: left;
    float: left;
    width: 49%;
   
}
.computer-select{
    float: left;
    width: 49%;
    clear: right;
   
   
}
.play-btn-container{
    width: 100%;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}
.game-board{
    margin-top: 5rem;
    

}
.game-board table{
    background-color: var(--secondaryColor);
    box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.4);
   
    padding: 20px;
    
}

.game-board button{
    text-align: center;
height: 15rem;
width: 15rem; 
box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.4);

background-color: rgba(0,0,0,0);
border: 1px solid black;

}
.game-board button:hover,button:focus{
outline: none;

background-color: rgba(0,0,0,0);
}
.line-break{
    display: none;
}

.hover-btn{
    color: var(--hoverColor);
    font-size: 10rem;
    opacity: 650%;
}
.place-btn{
    color: var(--placeColor);
    font-size: 10rem;
    opacity: 40%;
    box-shadow: inset 5px 3px 2px rgba(0, 0, 0, 0.4);
}

.btn-type-select{
    width: 20%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: var(--secondaryColor);
    border: none;
    border-radius: 10px ;
    box-shadow: 2px 1px rgba(0, 0, 0, 0.4);
    transition-duration: 0.34s;


}
.btn-type-select:hover{
   
    background-color: var(--secondaryHoverColor);
    
}
.btn-type-select:focus{
   
    background-color: var(--secondaryHoverColor);
    box-shadow: inset 4px 3px 4px rgba(0, 0, 0, 0.4);
    
}


@media only screen and (max-width: 720px) {
    .player-select,.computer-select {
      width: 100%;
    }
    .line-break{
        display: block;
    }
  }
